{% extends 'App/layout/addPage.html' %}

{% block heading %}
Add Aricraft Carrier Class
{% endblock %}

{% block form_content%}

<form action="" class="form p-2">
    <div class="row g-3">
        <div class="col-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="col-6">
            <label for="displacement" class="form-label">Displacement</label>
            <input type="text" name="displacement" id="displacement" class="form-control">
        </div>
        <div class="col-6">
            <label for="length" class="form-label">Length</label>
            <input type="text" name="length" id="length" class="form-control">
        </div>
        <div class="col-6">
            <label for="beam" class="form-label">Beam</label>
            <input type="text" name="beam" id="beam" class="form-control">
        </div>
        <div class="col-6">
            <label for="aircrafts" class="form-label">Aircrafts</label>
            <input type="text" name="aircrafts" id="length" class="form-control">
        </div>
        <div class="col-6">
            <label for="builder" class="form-label">Builder</label>
            <select name="builder" id="builder" class="form-select">
                <option value="none">Select Builder</option>
            </select>
        </div>
    </div>
    <div class="rwo py-2">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% endblock %}


{% block script %}
<script>
    let form = document.querySelector(".form")

    let getBuilder = async () => {
        let data = await getJsonData('http://127.0.0.1:8000/api/builder/')
        let options = ``
        for (let builder of data) {
            options = options + `<option value="${builder.builder_id}">${builder.name}</option>`
        }
        let firstOption = form.querySelector('select[name=builder] option')
        firstOption.insertAdjacentHTML("afterend", options)
    }

    let submit = async (e) => {
        e.preventDefault()
        data = {
            name: form.querySelector('input[name=name]').value,
            displacement: form.querySelector('input[name=displacement]').value,
            length: form.querySelector('input[name=length]').value,
            beam: form.querySelector('input[name=beam]').value,
            aircrafts: form.querySelector('input[name=aircrafts]').value,
            builder: form.querySelector('select[name=builder]').value,
        }
        sendData('http://127.0.0.1:8000/api/ac_class/', data)
    }

    window.addEventListener('load', getBuilder)
    form.addEventListener("submit", submit)
</script>

{% endblock %}