{% extends 'App/layout/addPage.html' %}

{% block heading %}
Add Aricraft Carrier
{% endblock %}

{% block form_content%}

<form action="" class="form p-2">
    <div class="row g-3">
        <div class="col-6">
            <label for="hn" class="form-label">Hull Number</label>
            <input type="text" name="hn" id="hn" class="form-control">
        </div>
        <div class="col-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="col-6">
            <label for="vessel_class" class="form-label">Class</label>
            <select name="vessel_class" id="vessel_class" class="form-select">
                <option value="none">Select Class</option>
            </select>
        </div>
    </div>
    <div class="rwo py-2">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% endblock %}


{% block script %}
<script>
    let form = document.querySelector(".form")
    let getACClass = async () => {
        let data = await getJsonData('http://127.0.0.1:8000/api/ac_class/')
        let options = ``
        for (let ac_class in data) {
            options = options + `<option value="${data[ac_class].name}">${data[ac_class].name}</option>`
        }
        let firstOption = form.querySelector('select option')
        firstOption.insertAdjacentHTML("afterend", options)
    }

    let submit = async (e) => {
        e.preventDefault()
        data = {
            hull_number: form.querySelector('input[name=hn]').value,
            name: form.querySelector('input[name=name]').value,
            vessel_class: form.querySelector('select[name=vessel_class]').value
        }
        sendData('http://127.0.0.1:8000/api/ac/', data)
    }
    console.log(getCSRFToken())
    window.addEventListener("load", getACClass)
    form.addEventListener("submit", submit)
</script>

{% endblock %}