{% extends 'App/layout/showPage.html' %}

{% block heading %}
Aricraft Carrier Class
{% endblock %}

{% block table_content %}
<thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
    </tr>
</thead>
<tbody></tbody>

{% endblock %}

{% block script %}

<script>
    let table = document.querySelector(".table")
    let getData = async () => {
        let data = await getJsonData('http://127.0.0.1:8000/api/armament/')
        let tr = ``
        for (let armament in data) {
            tr = tr + `<tr>
                            <td><a href="#"><b>${data[armament].name}</b></a></td>
                            <td>${data[armament].arm_type}</td>
                      </tr>`
        }
        let tbody = table.querySelector('tbody')
        tbody.innerHTML = tr;
    }
    window.addEventListener("load", getData)
</script>

{% endblock %}