{% extends 'App/layout/showPage.html' %}

{% block heading %}
Aricraft Carrier Class
{% endblock %}

{% block table_content %}
<thead>
    <tr>
        <th>Name</th>
        <th>Displacement</th>
        <th>Length</th>
        <th>Aircrafts</th>
        <th>Armament</th>
        <th>Vessles</th>
    </tr>
</thead>
<tbody></tbody>

{% endblock %}

{% block script %}

<script>
    let table = document.querySelector(".table")

    let getArmamentDetail = async (id) => {
        let data = await getJsonData(`http://127.0.0.1:8000/api/armament/${id}/`)
        return data
    }

    let getData = async () => {
        let data = await getJsonData('http://127.0.0.1:8000/api/ac_class/')
        let tr = ``

        for (let ac_class of data) {
            let vessels = ``
            let armament = ``

            for(let v of ac_class.vessels){
                vessels = vessels + `<a href="#"><b><i>${v.name}</i></b></a>
                                    <a href="#"><b><i>(${v.hull_number})</i></b></a><br>`
            }
            
            for(let arm of ac_class.armament){
                let armData = await getArmamentDetail(arm.arm_id)
                armament = armament + `${arm.quantity}&times<a href="#"><b>${armData.name} ${armData.arm_type}</b></a><br>`
            }

            tr = tr + `<tr>
                            <td><a href="#"><b><i>${ac_class.name}</i></b></a></td>
                            <td>${ac_class.displacement.toLocaleString('en-US')} t</td>
                            <td>${ac_class.length} m</td>
                            <td>${ac_class.aircrafts}</td>
                            <td>${armament}</td>
                            <td>${vessels}</td>
                      </tr>`
        }

        let tbody = table.querySelector('tbody')
        tbody.innerHTML = tr;
    }
    window.addEventListener("load", getData)
</script>

{% endblock %}