{% extends 'App/layout/showPage.html' %}

{% block heading %}
Aricraft Carrier
{% endblock %}

{% block table_content %}
<thead>
    <tr>
        <th>Hull Number</th>
        <th>Image</th>
        <th>Name</th>
        <th>Class</th>
    </tr>
</thead>
<tbody></tbody>

{% endblock %}

{% block script %}
{% load static %}
<script>
    let table = document.querySelector(".table")
    let getData = async () => {
        let data = await getJsonData('http://127.0.0.1:8000/api/ac/')
        let tr = ``
        let tbody = table.querySelector('tbody')
        for (let ac in data) {
            tr = tr + `<tr>
                            <td><b>${data[ac].hull_number}</b></td>
                            <td><img src="{% static 'App/images/Chrysanthemum.jpg'%}" style="width:150px;height:150px"></td>
                            <td><a href="#"><b><i>${data[ac].name}</i></b></a></td>
                            <td><a href="#"><b><i>${data[ac].vessel_class}</i></b></a></td>
                            </tr>`
        }
        tbody.innerHTML = tr;
    }
    window.addEventListener("load", getData)
</script>

{% endblock %}