{% extends 'App/layout/addPage.html' %}

{% block heading %}
Set Armament
{% endblock %}

{% block form_content%}

<form action="" class="form p-2">
    <div class="row g-3">
        <div class="col-6">
            <label for="class_id" class="form-label">Class</label>
            <select name="class_id" id="class_id" class="form-select">
                <option value="none">Select Class</option>
            </select>
        </div>
        <div class="col-6">
            <label for="arm_id" class="form-label">Class</label>
            <select name="arm_id" id="arm_id" class="form-select">
                <option value="none">Select Class</option>
            </select>
        </div>
        <div class="col-6">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="text" name="quantity" id="quantity" class="form-control">
        </div>
    </div>
    <div class="rwo py-2">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% endblock %}


{% block script %}
<script>
    let form = document.querySelector(".form")


    let getData = async () => {
        let data = await getJsonData('http://127.0.0.1:8000/api/ac_class/')
        let options = ``
        for (let ac_class of data) {
            options = options + `<option value="${ac_class.class_id}">${ac_class.name}</option>`
        }
        let firstOption = form.querySelector('select[name=class_id] option')
        firstOption.insertAdjacentHTML("afterend", options)
        
        data = await getJsonData('http://127.0.0.1:8000/api/armament/')
        options = ``
        for (arm of data) {
            options = options + `<option value="${arm.arm_id}">${arm.name}</option>`
        }
        firstOption = form.querySelector('select[name=arm_id] option')
        firstOption.insertAdjacentHTML("afterend", options)
    }

    let submit = async (e) => {
        e.preventDefault()
        data = {
            quantity: form.querySelector('input[name=quantity]').value,
            class_id: form.querySelector('select[name=class_id]').value,
            arm_id: form.querySelector('select[name=arm_id]').value
        }
        sendData('http://127.0.0.1:8000/api/class_armament/', data)
    }

    window.addEventListener("load", getData)
    form.addEventListener("submit", submit)
</script>

{% endblock %}